<div class="mb-5 ">
    <h1>Blocks</h1>
</div>
<div class="row" ng-controller="blockController">
    <form class=" col-sm-6">
        <h4 class="text-primary mt-2 ml-2">Create A New Block</h4>
        <div class="form-group col-md-4">
            <label for="inputBuilding">Building Select:</label>

            <select id="inputBuilding" class="form-control"
                    ng-options="building.name for building in buildings"
                    ng-model="selected">
            </select>
        </div>
    </form>
</div>