
<div class="mb-5 ">
<h1>Profile</h1>
</div>
<div class="row">
    <!-- GOOGLE INFORMATION -->
    <div class="col-sm-6">

        <!-- LOOP OVER THE CANDYS IN $scope.candy -->
        <h4 class="text-danger mt-2 ml-2">Favorite Candy</h4>
        <label for="inputCandy">Choose Candy:</label>
        <select id="inputCandy" class="form-control"
                ng-options="c.name for c in candys"
                ng-model="$parent.selected">
        </select>
    </div>
    <form class=" col-sm-6">
        <div class="form-group">
            <label for="candyInput">Add a Favorite Candy</label>
            <input type="text" class="form-control" id="candyInput" ng-model="$parent.candyForm.text" placeholder="i.e. Snickers">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="addCandy()">Add</button>
    </form>
    </div>