<!-- views/profile.ejs -->
<!doctype html>
<html ng-app="profileApp">
<head>
    <title>Node Authentication</title>

    <style>
        body        { padding-top:40px; word-wrap:break-word; }
    </style>
    <!-- SPELLS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->

    <script src="js/controllers/profile.js"></script> <!-- load up our controller -->
    <script src="js/services/user_service.js"></script> <!--  load our candy service -->
    <script src="js/core.js"></script> <!-- load our main application -->

</head>
<body ng-controller="profileController">
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/profile">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Stories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/block">Create Block</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <span class="navbar-text pr-3 ">
                Hello, {{google_user.name}}!
            </span>
            <a href="/logout" class="btn btn-danger btn-md" role="button" aria-pressed="true">Logout</a>

        </div>
    </nav>

    <div class="mb-5 mt-5 text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
    </div>

    <div class="row">

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-danger"><span class="fa fa-google-plus card-title"></span> Google</h3>
                </div>
                <div class="card-body">
                    <p>
                        <strong>id</strong>: {{google_user.id}} <br>
                        <strong>token</strong>: {{google_user.token}}<br>
                        <strong>email</strong>: {{google_user.email}}<br>
                        <strong>name</strong>: {{google_user.name}}
                    </p>
                </div>

            </div>
            <!-- LOOP OVER THE CANDYS IN $scope.candy -->
            <h4 class="text-danger mt-2 ml-2">Favorite Candy</h4>
            <label for="inputCandy">Choose Candy:</label>

            <select id="inputCandy" class="form-control"
                    ng-options="candy.name for candy in candys"
                    ng-model="selected">
            </select>
        </div>
        <form class=" col-sm-6">
            <div class="form-group">
                <label for="candyInput">Add a Favorite Candy</label>
                <input type="text" class="form-control" id="candyInput" ng-model="candyForm.text" placeholder="i.e. Snickers">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="addCandy()">Add</button>
        </form>

    </div>

</div>
</body>
</html>